@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  @apply bg-blue-950 text-zinc-700;
  @apply flex justify-center items-center;
  @apply w-screen h-screen;
}

input[type='text'] {
  @apply bg-zinc-200 text-zinc-500;
  @apply p-2;
}
